<h1> Welcome! </h1>

<p><%= link_to 'Create Registry', new_registry_path %> </p>
<p><%= link_to 'View Registries', registries_path %> </p>
<p><%= link_to 'View Participants', participants_path %> </p>
<p><%= link_to 'View Coordinators', coordinators_path %> </p>