<h1> Coordinator Show Page </h1>
<%= @coordinator.name %>

<p> Need to show: </p>
<li> list of registries </li>
<li> list of participants in registry, grouped by coordinator that enrolled them </li>
<li> link to enroll participants in a registry </li>
<li> link to manage (edit) coordinators </li>
<li> link to manage (edit) participants </li>