<h1> Create Registry </h1>

<p> Needs: </p>
<li> Name </li>
<li> Location </li>
<li> Coordinator_id (include self as pre-selected)</li>
<li> additional coordinator_ids (by email, name. perhaps send confirmation email?)</li>
<li> creates RegistryCoordinator.new() for each coordinator </li>